/* general */
body {
	overflow: hidden;
}
#life-canvas {
	top: 0;
	left: 0;
	position: absolute;
	border: 1px solid #666;
	cursor: pointer;
}

/* buttons */
.btn-group {
	left: -2px;
	top: -2px;
	border: 2px solid rgba(255,255,255,0.5);
	position: absolute;
}
.btn {
	border-radius: 0;
	border: 2px solid #fff;
	background-color: #ccc;
	color: #000;
}
.btn-sm {
	width: 33px;
	height: 33px;
}
.btn:hover {
	background-color: #e6e6e6;
}

/* misc inputs */
textarea, .modal-content, select {
	border-radius: 0 !important;
}
label {
	font-weight: bold;
}
.popover {
	border-radius: 0 !important;
	background-color: #e6e6e6;
}
.popover-body {
	display: none;
}
.custom-control-input:checked~.custom-control-label::before {
	border-color: #333;
	background-color: #333;
}

/* speed icons */
#backward-icon, #forward-icon {
	font-size: 400%;
	color: black;

	background: rgba(255,255,255,0.8);
	padding: 16px;
	/*border-radius: 8px;*/

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

svg #speed-line {
	/* speedometer go vroom vroom (about the correct axis of rotation) */
	transform-origin: 32px 40px;
	stroke: #06c;
	/*stroke: #c00;*/
}
